
<div id="rainbow2" class="page-header" data-parallax="true">

<div>
    <div id="rainbow2" class="page-header img" data-parallax="true">


        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="motto">
                    <h1 id="block" class="title">Hamster Wheel</h1>
                    <br />
                    <!-- <button type="button" class="btn btn-outline-neutral btn-round">Download</button> -->
                </div>
            </div>
        </div>

    </div>


<div id="rainbow3" class="page-header" data-parallax="true">

    <div id="rainbow3" class="page-header img" data-parallax="true">


        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="motto">
                    <h1 id="block" class="title">Hamster Wheel</h1>
                    <br />
                    <!-- <button type="button" class="btn btn-outline-neutral btn-round">Download</button> -->
                </div>
            </div>
        </div>

    </div>
</div>
