<nav class="navbar navbar-toggleable-md fixed-top bg-danger navbar-transparent" color-on-scroll="200">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar"></span>
            <span class="navbar-toggler-bar"></span>
            <span class="navbar-toggler-bar"></span>
        </button>
        <a class="navbar-brand" href="../presentation.html">Hamster Wheel</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html" data-scroll="true" href="javascript:void(0)">Beta</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

	<div class="page-header" data-parallax="true" style="background-image: url('https://images.pexels.com/photos/730807/pexels-photo-730807.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');">
		<div class="filter"></div>
		<div class="content-center">
			<div class="container">
	            <div class="motto">
	                <h1 class="title">Hamster Wheel</h1>
	                <br />
	                <!-- <button type="button" class="btn btn-outline-neutral btn-round">Download</button> -->
	            </div>
	        </div>
		</div>

    </div>

    <div class="wrapper">
        <div class="section text-center landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h2 class="title">Let's play and learn</h2>
                        <h5>At Hamster Wheel, we believe learning is a life long skill. With years of childcare and education experience, we’ve decided to bring pre-kindergarten education into the 21st century. Children today are not interested in the rubber toys and chalkboards of old, and parent’s across the country simply can’t afford daycare let alone private education courses that are made to foster growth of fine motor and language skills. </h5>
                        <br />
                    </div>
                </div>
				<br /><br />
				<div class="row">
					<div class="col-md-3">
						<div class="info">
							<div class="icon icon-warning">
								<i class="nc-icon nc-satisfied"></i>
							</div>
							<div class="description">
								<h4 class="info-title">Parent Control</h4>
								<p class="description">What’s more, even if parents are fortunate enough to put their baby’s brain in the hands of local professionals; they have no control over curriculum and little influence over their precious one’s journey into life long learning.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="info">
							<div class="icon icon-default">
								<i class="nc-icon nc-mobile"></i>
							</div>
							<div class="description">
								<h4 class="info-title">Innovation</h4>
								<p>Hamster Wheel leverages mobile gaming technology and innovation to not only bring learning exercises backed by years of research to your home.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="info">
							<div class="icon icon-danger">
								<i class="nc-icon nc-spaceship"></i>
							</div>
							<div class="description">
								<h4 class="info-title">Modern Education</h4>
								<p> We also empowers parents by placing you directly in the driver’s seat on your toddler’s road to success. Join us in changing the paradigm of early childhood education.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="info">
							<div class="icon icon-info">
								<i class="nc-icon nc-air-baloon"></i>
							</div>
							<div class="description">
								<h4 class="info-title">Ready, set and go!</h4>
								<p>Hamster wheel will take you child into a fun and animated educational journey.</p>
							</div>
						</div>
					</div>
				</div>

            </div>
        </div>

        <div class="section section-dark text-center landing-section">
            <div class="container">
                <h2 class="title">About us</h2>
				<div class="row">
    				<div class="col-md-3">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./img/bob.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#">
                                    <div class="author">
                                        <h4 class="card-title">Bob De Kort-Goossens</h4>
                                        <h6 class="card-category text-muted">iOS Developer</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                Bob is a driven software developer from Antwerp, Belgium currently based in San Francisco, looking to make social impact. He's mainly focused on iOS development but he is always ready to learn new technologies and frameworks.
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="#" class="btn btn-link btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.linkedin.com/in/bobdekort/" class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
    				</div>

    				<div class="col-md-3">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./img/Elliot.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#">
                                    <div class="author">
                                        <h4 class="card-title">Elliot Briant</h4>
                                        <h6 class="card-category text-muted">Web Developer</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                Elliot is currently a Web Developer at based in San Francisco, CA. Elliot is a creative and ambitious software developer. Elliot approaches any environment as an opportunity to utilize his experience with a variety of Web-based languages and server integration.
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://twitter.com/TheS0cialHacker" class="btn btn-link btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.linkedin.com/in/briantoliveira/" class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
    				</div>

    				<div class="col-md-3">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./img/nelly.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#">
                                    <div class="author">
                                        <h4 class="card-title">Parnell Kelley</h4>
                                        <h6 class="card-category text-muted">Lead Developer</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                A community servant, writer, and motorcycle enthusiast; moonlighting as a web dev. Throughout my life I’ve always questioned what low level algorithms & processing power may be needed to fully utilize scenarios like smashing the “A” button on a game-boy.
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="#" class="btn btn-link btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.linkedin.com/in/parnelldkelley/" class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
    				</div>

                    <div class="col-md-3">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./img/phyllis.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#">
                                    <div class="author">
                                        <h4 class="card-title">Phyllis Wong</h4>
                                        <h6 class="card-category text-muted">iOS Developer</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                Phyllis eager and inquisitive software developer based in San Francisco Bay Area, looking to build solutions to real problems. She's passionate about working towards solutions in STEM education, diversity and inclusion, and UI/UX.
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="#" class="btn btn-link btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.linkedin.com/in/phyllis-wong-4baa8831/" class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
    				</div>
    			</div>
        	</div>
    	</div>

	    <div class="section landing-section">
	        <div class="container">
	            <div class="row">
	                <div class="col-md-8 offset-md-2">
	                    <h2 class="text-center">Sign Up for our Beta trial</h2>
	                    <form class="contact-form">
	                        <div class="row">
	                            <div class="col-md-6">
	                                <label>Name</label>
	                                <input class="form-control" placeholder="Name">
	                            </div>
	                            <div class="col-md-6">
	                                <label>Email</label>
	                                <input class="form-control" placeholder="Email">
	                            </div>
	                        </div>
	                        <label>Message</label>
	                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
	                        <div class="row">
	                            <div class="col-md-4 offset-md-4">
	                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
	                            </div>
	                        </div>
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
    </div>
