#rainbow {
  background-image: url('/img/kid.jpg');
  background-color: #B2AFAB;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}

#rainbow2 {
    display: none;
  background-image: url('https://images.pexels.com/photos/256468/pexels-photo-256468.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
  background-color: #B2AFAB;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  /* max-height: 999px; */
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 0; left: 0;
}

#rainbow3 {
    display: none;
  background-image: url('/img/kid.jpg');
  background-color: #B2AFAB;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 3;
  position: absolute;
  top: 0; left: 0;
}


@font-face {
    font-family: 'square_kidsregular';
    src: url('../fonts/squareki-webfont.woff2') format('woff2'),
         url('../fonts/squareki-webfont.woff') format('woff'),
         url('../fonts/squareki-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

#block {
    font-family: 'square_kidsregular';
    font-size: 86px;
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #A00), color-stop(0.3, #22f), color-stop(0.40, #2ff), color-stop(0.6, #FF0),  color-stop(0.40, #2ff), color-stop(0.75, #2f2), color-stop(0.45, #f2f) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#git {
    color: #0084b4
}

.makeschool {
    width: 22px;
    height: 14px;
    margin-bottom: 10px;
}

#about {
    background-color: #000;
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
/* @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }
}

/* Portrait */
/* @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }
} */

/* Landscape */
/* @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }

} */

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
/* @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }
} */

/* Portrait */
/* @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }
} */

/* Landscape */
/* @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }

} */

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
/* @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }
} */

/* Portrait */
/* @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }

} */

/* Landscape */
/* @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }

} */

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
/* @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }
} */

/* Portrait */
/* @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }

} */

/* Landscape */
/* @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }

} */

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
/* @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }
} */

/* Portrait */
/* @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }

} */

/* Landscape */
/* @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }

} */

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
/* @media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }
} */

/* Portrait */
/* @media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2)
  and (orientation: portrait) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }

} */

/* Landscape */
/* @media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2)
  and (orientation: landscape) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }

} */

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
/* @media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }
} */

/* Portrait */
/* @media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }

} */

/* Landscape */
/* @media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }

} */

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
/* @media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }
} */

/* Portrait */
/* @media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: portrait) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }

} */

/* Landscape */
/* @media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: landscape) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }

} */

/* ----------- Google Pixel ----------- */

/* Portrait and Landscape */
/* @media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }
} */

/* Portrait */
/* @media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }

} */

/* Landscape */
/* @media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }

} */

/* ----------- Google Pixel XL ----------- */

/* Portrait and Landscape */
/* @media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }
} */

/* Portrait */
/* @media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: portrait) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }

} */

/* Landscape */
/* @media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: landscape) {
      .rainbow2{
          display: none;
      }
      .rainbow3{
          display: none;
      }

}  */

/* No greater than 900px, no less than 400px */
@media (max-width:900px) and (min-width:300px) {

    .rainbow, .rainbow2, .rainbow3 {
        display: none;
    }


}
