.html {
    overflow: hidden;
}

.body {
    width: 100%;
    height: 100%;
}

.container {
    padding-left: 0px;
}

.page-header{
  background-image: url('/img/background.png');
  /* background-image: url('/img/logo.png'); */
  background-color: #B2AFAB;
  background-position: center center;
  background-size: cover;
  /* min-height: 100vh; */
  /* max-height: 999px; */
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: -1;
}

.motto {
    right: 110px;
    /* top: 98px; */
}

.logo {
    width: 1369px;
    margin-top: 255px;
    background-position: center;
    background-size: cover;
}

.contact-form {
    padding-left: 10px;
}

/* #rainbow2 {
    display: none;
  background-image: url('https://images.pexels.com/photos/256468/pexels-photo-256468.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
  background-color: #B2AFAB;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  /* max-height: 999px; */
  /* overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 0; left: 0;
} */

/* #rainbow3 {
    display: none;
  background-image: url('/img/kid.jpg');
  background-color: #B2AFAB;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 3;
  position: absolute;
  top: 0; left: 0;
} */


@font-face {
    font-family: 'square_kidsregular';
    src: url('../fonts/squareki-webfont.woff2') format('woff2'),
         url('../fonts/squareki-webfont.woff') format('woff'),
         url('../fonts/squareki-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

#block {
    font-family: 'square_kidsregular';
    font-size: 86px;
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #A00), color-stop(0.3, #22f), color-stop(0.40, #2ff), color-stop(0.6, #FF0),  color-stop(0.40, #2ff), color-stop(0.75, #2f2), color-stop(0.45, #f2f) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#git {
    color: #0084b4
}

.makeschool {
    width: 22px;
    height: 14px;
    margin-bottom: 10px;
}

#about {
    background-color: #000;
}

.logo {
    width: 1386px;
    margin-top: 337px;
    margin-left: -15px;
    padding-left: 50px;
    margin-bottom: 122px;
    position: relative;
}


/* No greater than 900px, no less than 400px */
/* @media (max-width:900px) and (min-width:300px) {

    #rainbow {
        display: none;
    }


} */


/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
      .motto {
          width: 376px;
          bottom: 83px;
      }
      .logo {
          width: 500px;
          margin-left: 184px;
          margin-bottom: 112px;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }
}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      .motto {
          width: 326px;
          bottom: 100px;
          right: 250px
      }
      .logo {
          /* transform: scale(.5); */
          width: 383px;
          margin-left: 194px;
          margin-bottom: 112px;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }
}


/*  Iphone 7 Query   */

/* Portrait Iphone 7 Plus */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 677px)
  and (-webkit-min-device-pixel-ratio: 2) {
      .motto {
          width: 326px;
          bottom: 100px;
          right: 250px
      }
      .logo {
          /* transform: scale(.5); */
          width: 455px;
          margin-left: 186px;
          padding-left: 50px;
          position: relative;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }
}


/* Iphone 7 */
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation:landscape) {
      .motto {
          width: 326px;
          bottom: 100px;
          right: 250px
      }
      .logo {
          /* transform: scale(.5); */
          width: 500px;
          margin-left: 276px;
          padding-left: 20px;
          margin-bottom: 112px;
          position: relative;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }
}

@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      .motto {
          width: 326px;
          bottom: 100px;
          right: 250px
      }
      .logo {
          /* transform: scale(.5); */
          width: 500px;
          margin-top: 345px;
          margin-left: 183px;
          padding-left: 50px;
          margin-bottom: 112px;
          position: relative;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }
}

/* Iphone 5 */
@media only screen
and (-webkit-min-device-pixel-ratio: 2)
and (max-device-width: 568px)
and (min-device-width: 580px)
and (orientation: portrait) {
    .logo {
        width: 398px;
        margin-left: 22px;
        padding-left: 50px;
        position: fixed;
        margin-top: 45px;

    }
}


/* Iphone X */

/* Portrait view */

/* @media only screen
and (-webkit-min-device-pixel-ratio: 2)
and (max-device-width: 812px)
and (min-device-width: 375px)
and (orientation: portrait) {
    .logo {
        width: 487px;
        margin-left: 16px;
        padding-left: 34px;
        position: relative;
        margin-top: 8px;

    }
} */


@media only screen
    and (device-width : 812px)
    and (device-height : 375px)
    and (-webkit-device-pixel-ratio : 3)
    and (orientation:landscape)  {
    .logo {
        width: 728px;
        margin-left: -269px;
        padding-left: 50px;
        position: fixed;
        margin-top: -106px;

    }
}

@media only screen
    and (device-width : 414px)
    and (device-height : 736px)
    and (-webkit-device-pixel-ratio : 3)
    and (orientation:landscape) {

        .logo {
            width: 790px;
            margin-left: 75px;
            padding-left: 50px;
            position: fixed;
            margin-top: 238px;

        }
    }

/* Ipad Mini Query */

@media only screen
and (min-device-width : 1536px)
and (max-device-width : 2048px)
and (orientation : portrait) {

    .logo {
        width: 500px;
        margin-left: -285px;
        padding-left: 0px;
        position: fixed;
        margin-top: -140px;

    }
}

@media only screen
and (min-device-width : 1024px)
and (max-device-width : 768px)
and (orientation : landscape)  {

    .logo {
        width: 500px;
        margin-left: -245px;
        padding-left: 0px;
        position: fixed;
        margin-top: -140px;

    }
}


/* Ipad Pro */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {

    .logo {
        width: 790px;
        margin-left: -285px;
        padding-left: 0px;
        position: fixed;
        margin-top: -140px;

    }
}


/* Ipad 1 & 2 */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
    .logo {
        width: 800px;
        margin-left: -380px;
        padding-left: 0px;
        position: fixed;
        margin-top: -140px;

    }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1) {

    .logo {
        width: 700px;
        margin-left: -300px;
        padding-left: 0px;
        position: fixed;
        margin-top: -140px;

    }
}
